:root{
    --heading1: 24px;
    --paragraph1: 18px;
    --paragraph2: 16px;
    --paragraph3: 14px;
    --backgroundcolor: #1c5550;
    --asidefontcolor: #91B599;
    --pricebackground: #DFD9D9;
    --addtocartbackground: #C3B97F;
    --asidebackground: #00000033;

}